.Weather {
  color: #ffffff;
  padding: 10px;
  background-color: #f5a623;
  margin-top: 10px;
  text-align: right;
}
.Weather .location {
  font-weight: 600;
}
.Weather .date {
  color: #fad291;
  margin-bottom: 15px;
}
.Weather .weatherMain {
  margin: 20px 0;
}
.Weather canvas {
  margin-right: 8px;
  vertical-align: top;
  
}
.Weather .temperature {
  font-size: 80px;
  line-height: 80px;
}

.Weather .units {
  position: relative;
  top: -40px;
}

.Weather .fahrenheit {
  margin-left: 10px;
  color: #fad291;
  
}
.Weather .description {
  font-weight: 600;
}
.Weather ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}
.Weather li {
  margin: 10px 0 10px 0;
}
.Weather .current {
  font-size: 50px;
}
.Weather hr {
  border-top: 1px solid #ffffff;
}
.Weather .weatherDetails {
  color: #fad291;
}
